body {
  background-image: url("../images/salmon-background3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}

h1 {
  font-family: "Permanent Marker", cursive !important;
  font-size: 2.5em !important;

  color: #fffb82 !important;
  text-shadow: #000 0px 0px 1px !important;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px !important;
  margin-top: -30px !important;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em !important;

  color: rgb(89, 89, 89) !important;
  /* text-shadow: #fffb82 0px 0px 1px !important; */
  /* -webkit-font-smoothing: antialiased; */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  text-transform: uppercase !important;
}

h3 {
  font-family: "Permanent Marker", cursive !important;
  font-size: 2em !important;

  color: rgb(89, 89, 89) !important;
  text-shadow: #fffb82 0px 0px 4px !important;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px !important;
}

h4 {
  font-family: "Permanent Marker", cursive !important;
  font-size: 2em !important;

  color: #fffb82 !important;
  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px !important;
}

.score-number {
  font-family: "Permanent Marker", cursive !important;
  font-size: 1.5em !important;

  color: rgb(89, 89, 89) !important;
  text-shadow: #fffb82 0px 0px 4px !important;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px !important;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em !important;

  color: rgb(89, 89, 89) !important;
  /* text-shadow: #fffb82 0px 0px 1px !important; */
  /* -webkit-font-smoothing: antialiased; */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  text-transform: uppercase !important;
}


.game-loading {
  margin-top: 50%;
}

.footy-title-container {
  height: 150px;
}

/* animations */
.slide-in-left {
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.3s both;
  animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.6s both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.survivor-names{
  padding: 3px !important;
  margin: 3px !important;
  color: green;
  text-transform: uppercase !important;
  font-size: 1.25em;
}

.fallen-names{
  padding: 3px !important;
  margin: 3px !important;
  color: red;
  text-transform: uppercase !important;
  text-decoration: line-through;
  font-size: 1.25em;
}

.stats-title {
  margin-top: 10px !important;
}

#root {
  margin: 10px;
  margin-top: 20px;
}

#sign-up-button {
  margin: 10px;
}

.ui.yellow,
.ui.yellow.button {
  color: #fffb82;
  background-color: rgb(255, 251, 130, 0.1);
  box-shadow: 0px 0px 0px 2px #fffb82 inset;
}

.yellow.button.fixture-team-button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px
}

.ui.yellow.button:hover {
  color: #000000;
  background: #000000;
  background-color: #fffb82;
}

.ui.yellow.button:focus {
  color: #000000;
  background: #000000;
  background-color: #fffb82;
}

.text-yellow {
  color: #fffb82 !important;
}

.disabled {
  filter: grayscale(100%);
  opacity: "0.3";
}

.game-page-balls {
  min-height: 10vh !important;
  margin-bottom: 20px;
}

/* fixture padding */
.fixture-team-button{
  
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* spacing on fixture buttons */
.four.wide.column {
  margin: 2px !important;
  padding: 0px !important;
}


/* vs column text */
.vs-text {
  padding: 0px !important;
  font-size: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
}

#football-1,
#football-5 {
  max-width: 20px;
  max-height: 20px;
}

#football-2,
#football-4 {
  max-width: 40px;
  max-height: 40px;
}

#football-3 {
  max-width: 80px;
  max-height: 80px;
}

#football-1 {
  -webkit-animation: bounce-out-bottom-small 1s 2.5s both;
  animation: bounce-out-bottom-small 1s 2.5s both;
}

#football-2 {
  -webkit-animation: bounce-out-bottom-medium 1s 1s both;
  animation: bounce-out-bottom-medium 1s 1s both;
}

#football-3 {
  -webkit-animation: no-bounce-out-bottom 1s 3s both;
  animation: no-bounce-out-bottom 1s 3s both;
}

#football-3.roll-out-right {
  -webkit-animation: roll-out-right 0.6s ease-in 0.3s both;
  animation: roll-out-right 0.6s ease-in 0.3s both;
}

#football-4 {
  -webkit-animation: bounce-out-bottom-medium 1s 2s both;
  animation: bounce-out-bottom-medium 1s 2s both;
}

#football-5 {
  -webkit-animation: bounce-out-bottom-small 1s 1.5s both;
  animation: bounce-out-bottom-small 1s 1.5s both;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#football-1.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 13s both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 13s
    both;
}

#football-2.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s
    both;
}

#football-3.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 20s both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 20s
    both;
}

#football-4.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 8s both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 8s
    both;
}

#football-5.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 24s both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 24s
    both;
}

#crown {
  position: absolute;
  top: -20px;
  max-width: 60px;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s both;
}

#crown.fade-out {
  -webkit-animation: fade-out 0.5s ease-out both;
  animation: fade-out 0.5s ease-out both;
}

#football-sign-up-1, #football-sign-up-5  {
  max-width: 20px;
  max-height: 20px;
}

#football-sign-up-2, #football-sign-up-4 {
  max-width: 40px;
  max-height: 40px;
}

#football-sign-up-1 {
  -webkit-animation: bounce-in-left 1.1s 1s both;
  animation: bounce-in-left 1.1s 1s both;
}

#football-sign-up-2 {
  -webkit-animation: bounce-in-left 1.1s 0.5s both;
  animation: bounce-in-left 1.1s 0.5s both;
}

#football-sign-up-3 {
  max-width: 80px;
  max-height: 80px;
  -webkit-animation: bounce-in-top 1.1s 2.5s both;
	        animation: bounce-in-top 1.1s 2.5s both;
}

#football-sign-up-4 {
  -webkit-animation: bounce-in-right 1.1s 1.25s both;
	        animation: bounce-in-right 1.1s 1.25s both;
}

#football-sign-up-5 {
  -webkit-animation: bounce-in-right 1.1s 0.75s both;
  animation: bounce-in-right 1.1s 0.75s both;
}

.sign-up-container {
  width: 300px !important;
}

#football-sign-up-3.bounce-out-top {
	-webkit-animation: bounce-out-top 1.5s both;
	        animation: bounce-out-top 1.5s both;
}



.your-team-selection {
  min-height: 400px ;
  
}

.waiting-team-select {
  height: 200px;
  max-width: 300px;
  border: 2px solid #fffb82;
  /* margin-left: 40px;
  margin-right: 40px; */
  margin: auto;
  padding: 30px;
  padding-top: 60px;
  border-radius: 10px;

}

.team-badge-container {
  height: 200px;
  width: 300px;
  border: 2px solid #fffb82;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}


.team-badge-image {
  
  position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    
  
  /* margin-left: 40px;
  margin-right: 40px; */
  
}



/* =========== media queries ============= */

@media (min-width: 500px) {
  h1 {
    font-size: 4em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  h3 {
    font-size: 3em !important;
  }
  h4 {
    font-size: 2.5em !important;
  }
  .footy-title-container {
    height: 200px;
  }
  .royale-title-home {
    margin-top: -30px !important;
  }

  #crown {
    
    top: -10px !important;
  }

  .waiting-team-select {
    height: 400px;
    padding-top: 120px;
    
    
  
  }
  
  .team-badge-container {
    height: 400px;
    
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  h3 {
    font-size: 3em !important;
  }
  h4 {
    font-size: 2.5em !important;
  }
  .footy-title-container {
    height: 200px;
  }
  .royale-title-home {
    margin-top: -30px !important;
  }

  #crown {
    
    top: -8px;
  }

  .waiting-team-select {
    height: 400px;
    padding-top: 120px;
    
    
  
  }
  
  .team-badge-container {
    height: 400px;
    
  }
}

/* ---------------------------------------------- * Generated by Animista on 2019-8-16 10:57:40 * w: http://animista.net,
  t: @cssanimista * ---------------------------------------------- */ /** * ---------------------------------------- * animation bounce-out-bottom * ---------------------------------------- */
@-webkit-keyframes bounce-out-bottom-small {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-2px) rotate(10deg);
    transform: translateY(-2px) rotate(30deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(30deg);
    transform: translateY(0) rotate(30deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-4px) rotate(90deg);
    transform: translateY(-4px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-8px) rotate(180deg);
    transform: translateY(-8px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes bounce-out-bottom-small {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-2px) rotate(20deg);
    transform: translateY(-2px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-4px) rotate(90deg);
    transform: translateY(-4px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-8px) rotate(180deg);
    transform: translateY(-8px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
@-webkit-keyframes bounce-out-bottom-medium {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-4px) rotate(10deg);
    transform: translateY(-4px) rotate(30deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(30deg);
    transform: translateY(0) rotate(30deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-16px) rotate(180deg);
    transform: translateY(-16px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes bounce-out-bottom-medium {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-4px) rotate(20deg);
    transform: translateY(-4px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-16px) rotate(180deg);
    transform: translateY(-16px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes no-bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-5px) rotate(20deg);
    transform: translateY(-5px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-15px) rotate(180deg);
    transform: translateY(-15px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0) rotate(360deg);
    transform: translateY(0) rotate(360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes no-bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-5px) rotate(20deg);
    transform: translateY(-5px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-15px) rotate(180deg);
    transform: translateY(-15px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0) rotate(360deg);
    transform: translateY(0) rotate(360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation roll-out-right
 * ----------------------------------------
 */
@-webkit-keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}


/**
 * ----------------------------------------
 * animation bounce-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-out-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    opacity: 0;
  }
}
@keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    opacity: 0;
  }
}

