body {
  background-image: url("../images/salmon-background3.jpg");
}

h1 {
  font-family: "Permanent Marker", cursive !important;
  font-size: 1em !important;

  color: #fffb82 !important;
  text-shadow: #000 0px 0px 1px !important;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px !important;
  margin-top: -20px !important;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em !important;

  color: rgb(89, 89, 89) !important;
  /* text-shadow: #fffb82 0px 0px 1px !important; */
  /* -webkit-font-smoothing: antialiased; */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  text-transform: uppercase !important;
}

h3 {
  font-family: "Permanent Marker", cursive !important;
  font-size: 3em !important;

  color: rgb(89, 89, 89) !important;
  text-shadow: #fffb82 0px 0px 4px !important;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px !important;
}

h4 {
  font-family: "Permanent Marker", cursive !important;
  font-size: 2em !important;

  color: #fffb82 !important;
  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px !important;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.3s both;
  animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.6s both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

#root {
  margin: 20px;
}

#sign-up-button {
  margin: 10px;
}

.ui.yellow,
.ui.yellow.button {
  color: #fffb82;
  background-color: rgb(255, 251, 130, 0.1);
}
.ui.yellow.button {
  box-shadow: 0px 0px 0px 2px #fffb82 inset;
}
.ui.yellow.button:hover {
  color: #000000;
  background: #000000;
  background-color: #fffb82;
}

.ui.yellow.button:focus {
  color: #000000;
  background: #000000;
  background-color: #fffb82;
}

.text-yellow {
  color: #fffb82 !important;
}

.disabled {
  filter: grayscale(100%);
  opacity: "0.3";
}

/* home page sign in button */
#root > div > div > form > a > div {
  color: grey;
  background-color: rgb(255, 251, 130, 0.1);
}

/* fixture padding */
#root
  > div.ui.center.aligned.top.aligned.three.column.grid
  > div
  > div
  > div
  > button {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* vs column text */
#root
  > div.ui.center.aligned.top.aligned.three.column.grid
  > div
  > div
  > div.two.wide.column {
  padding: 0px !important;
  font-size: 1.5em;
}

/* fixtures container padding */
#root > div.ui.center.aligned.top.aligned.three.column.grid > div > div > div {
  padding: 5px !important;
  padding-left: 30px;
  padding-right: 30px;
}

#football-1,
#football-5 {
  max-width: 20px;
  max-height: 20px;
}

#football-2,
#football-4 {
  max-width: 40px;
  max-height: 40px;
}

#football-3 {
  max-width: 80px;
  max-height: 80px;
}

#football-1 {
  -webkit-animation: bounce-out-bottom-small 1.5s 5s both;
  animation: bounce-out-bottom-small 1.5s 5s both;
}

#football-2 {
  -webkit-animation: bounce-out-bottom-medium 1.5s 2s both;
  animation: bounce-out-bottom-medium 1.5s 2s both;
}

#football-3 {
  -webkit-animation: no-bounce-out-bottom 1.5s 6s both;
  animation: no-bounce-out-bottom 1.5s 6s both;
}

#football-4 {
  -webkit-animation: bounce-out-bottom-medium 1.5s 4s both;
  animation: bounce-out-bottom-medium 1.5s 4s both;
}

#football-5 {
  -webkit-animation: bounce-out-bottom-small 1.5s 3s both;
  animation: bounce-out-bottom-small 1.5s 3s both;
}

#crown {
  position: absolute;
  top: -8px;
  max-width: 60px;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 7s
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 7s both;
}

@media (min-width: 500px) {
  h1 {
    font-size: 2em !important;
  }
}


@media (min-width: 1000px) {
  h1 {
    font-size: 4em !important;
  }
}


/* ---------------------------------------------- * Generated by Animista on 2019-8-16 10:57:40 * w: http://animista.net,
  t: @cssanimista * ---------------------------------------------- */ /** * ---------------------------------------- * animation bounce-out-bottom * ---------------------------------------- */ @-webkit-keyframes bounce-out-bottom-small {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-2px) rotate(10deg);
    transform: translateY(-2px) rotate(30deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(30deg);
    transform: translateY(0) rotate(30deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-4px) rotate(90deg);
    transform: translateY(-4px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-8px) rotate(180deg);
    transform: translateY(-8px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes bounce-out-bottom-small {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-2px) rotate(20deg);
    transform: translateY(-2px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-4px) rotate(90deg);
    transform: translateY(-4px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-8px) rotate(180deg);
    transform: translateY(-8px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
@-webkit-keyframes bounce-out-bottom-medium {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-4px) rotate(10deg);
    transform: translateY(-4px) rotate(30deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(30deg);
    transform: translateY(0) rotate(30deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-16px) rotate(180deg);
    transform: translateY(-16px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes bounce-out-bottom-medium {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-4px) rotate(20deg);
    transform: translateY(-4px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-16px) rotate(180deg);
    transform: translateY(-16px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(360deg);
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes no-bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-5px) rotate(20deg);
    transform: translateY(-5px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-15px) rotate(180deg);
    transform: translateY(-15px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0) rotate(360deg);
    transform: translateY(0) rotate(360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes no-bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-5px) rotate(20deg);
    transform: translateY(-5px) rotate(20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0) rotate(60deg);
    transform: translateY(0) rotate(60deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0) rotate(120deg);
    transform: translateY(0) rotate(120deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-15px) rotate(180deg);
    transform: translateY(-15px) rotate(180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0) rotate(250deg);
    transform: translateY(0) rotate(250deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0) rotate(360deg);
    transform: translateY(0) rotate(360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-8-16 12:4:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-16 13:21:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-16 13:24:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
